@using BlazorToolBoxLib.Services.Notifications.ImageUpload
@using BlazorToolBoxLib.Services.YoloHelper
@using BlazorToolBoxLib.Services.HttpRequests
@inject IImageUploadNotify notify
@inject IYoloV5ApiImageRequest request
@implements IDisposable

@namespace BlazorToolBoxLib.RazorComponents.ImageAnnotationComponent


<h3>BoundingBoxes</h3>

<br />

@*--- Button ---*@
<div class="row mt-2">
    <div class="col-md-4">
        <div class="form-group">
            <button type="button" class="btn btn-primary" @onclick="AnnotateImage" disabled="@(!_uploaded)">Annotade Image</button>
        </div>
    </div>
</div>
@*--- Button ---*@

@if (_imageDataUrl is not null)
{
    <img src="@_imageDataUrl" />
}

@*--- Button ---*@
<div class="row mt-2">
    <div class="col-md-4">
        <div class="form-group">
            <button type="button" class="btn btn-primary" @onclick="SaveImage">Save Image</button>
        </div>
    </div>
</div>
@*--- Button ---*@

@if (_imageRelativePath is not null)
{
    <h5>@_imageRelativePath</h5>
    <h5>@_filePath</h5>
}

@if (response is not null)
{
    <h5>@response</h5>

}


@* ==================================================================================== *@

@code {
    BoundingBoxes boundingBoxes = new BoundingBoxes();

    private string? _imageDataUrl = null;

    // Uploaded Image
    private string? _imageRelativePath = null;
    private string? _filePath = null;
    private string? _fileName = null;
    private bool _uploaded = false;

    private string response = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        notify.OnImageUpload += OnImageUpload;
    }

    private async Task AnnotateImage()
    {
        response = await request.SendRequest(_imageRelativePath);
        boundingBoxes.DrawBoundingBoxes(_fileName, response);
        _imageDataUrl = boundingBoxes.ImageDataUrl;
    }

    private async Task SaveImage()
    {
        boundingBoxes.SaveImage();
        await InvokeAsync(StateHasChanged);
    }

    private void OnImageUpload()
    {
        _imageRelativePath = notify.ImageRelativePath;
        _filePath = notify.FilePath;
        _fileName = notify.FileName;
        _uploaded = true;
        StateHasChanged();
    }

    public void Dispose()
    {
        notify.OnImageUpload -= OnImageUpload;
    }
}






